.faq_sec button{
    padding: 20px 0 20px;
    background: none;
    border: 0;
    color: #161731;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins';
}
.faq_sec .accordion-item{
    border: 0;
    border-bottom: 1px solid #9390B2;
}
.faq_sec  .accordion-button:not(.collapsed){
    color: #161731;
     background: none;
    box-shadow: inset 0 0 0 ;
}
.faq_sec .accordion-button:focus {
    z-index: 3;
    border:0;
    outline: 0;
    box-shadow: 0 0 0 0 ;
}
.faq_sec  .accordion-body{
    color: #575574;
    padding: 0 20px;
    margin: 20px 0;
    border-left: 2px solid #F9C600;
}
.faq_sec  .accordion-button::after{
    background: url("http://localhost:3000/assets/icons/pluse.png");
    background-position: center;
}
.faq_sec .accordion-button:not(.collapsed)::after {
    background: url("http://localhost:3000/assets/icons/minus.png");
}