.community_cont_sec{
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}
.community_sec{
    padding: 40px 4%;
}
.community_head{
    padding-bottom: 15px;
}
.community_cont{
    padding-bottom: 25px;
}
.mtb_50{
    margin-top: 50px;
    margin-bottom: 50px;
}