.img-div {
  max-width: 750px;
  max-height: 506px;
  overflow: hidden;
  position: relative;
}
.img-div img {
  object-fit: cover;
  width: 750px;
  height: 506px;
}
.mybtn.btn-secondary{
  width: 100%;
  border-radius: 8px;
  background: #575574;
}
.mybtn img{
  max-width:15px;
}
.mybtn:hover, .bg-secondary {
  background: #575574;
  background-color: #575574;
  border-color: #575574;
}
.btn.download-btn,.btn.download-btn:hover{
  background: #f9c500 ;
  border-color: #f9c500;
  max-width: 350px ;
  margin: 0 auto ;
  color: #000 ;
}
.btn.edit-btn {
  background: transparent ;
  border-color: #6c757d ;
  max-width: 350px ;
  margin: 0 auto ;
  color: #000 ;
  color: #575574;
}
.btn.edit-btn,.btn.download-btn {
  padding:8px;
  border-radius: 8px;
}
.btn.edit-btn:hover{
  background: none;
  box-shadow: 2px 2px 3px 2px #00000040;
  color: #575574;
}
.btn.download-btn:hover {
  box-shadow: 2px 2px 3px 2px #00000040;
}
.text-right p {
  text-align: right;
}
.common-p p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.heading-p p {
  color: #acaab9;
  font-size: 14px;
  font-weight: 500;
}
.text-right .btn {
  float: right;
}
.img-area {
  display: flex;
}
.likes-sec {
  display: flex;
}
.likes-sec div:nth-child(2),
.likes-sec div:nth-child(3) {
  margin-left: 70px;
}
.likes-sec div > p {
  color: #acaab9;
  margin-bottom: 5px;
}
.img1 {
  max-width: 350px;
  max-height: 506px;
  overflow: hidden;
  position: relative;
}
.img1 img {
  object-fit: cover;
  width: 350px;
  height: 506px;
}
.img2 {
  max-width: 350px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.img2 img {
  object-fit: cover;
  width: 350px;
  height: 200px;
}
.img3 {
  max-width: 350px;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}
.img3 img {
  object-fit: cover;
  width: 350px;
  height: 250px;
}

.btn-close{
    padding: 0;
    position: absolute;
    right: -25px;
    top: -20px;
    color: #fff;
    filter: invert(100%);
}

.image_popup .modal-header{
  padding:0;
}