*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
#root{
  font-size: 14px;
  color: #161731;
}
.btn-yellow{
  background: #F9C600;
}
.bg_light_pink{
  background: #F9F5FF;
}
.display_h3{
  font-size: 30px;
}
.mw_250{
  min-width: 250px;
}
.btn_none,a.btn_none,.btn_none:hover,a.btn_none:hover{
  background: none;
  border:1px solid #fff;
}
.btn_color_white,a.btn_color_white,.btn_color_white:hover,a.btn_color_white:hover,.color_white{
  color:#fff;
}
.pt-50{
  padding-top:50px;
}
.btn_link{
  background: none;
  border: 0;
  padding-bottom: 5px;
}
.pt_menu{
  padding-top:74px;
}
.display_h5{
  font-size: 24px;
}
.display_h4{
  font-size: 28px;
}
.display_h4,.display_h3,.display_h5{
  color: #161731;
  font-weight: 700;
}
.fw_600{
  font-weight: 600;
}
@media (max-width: 1199.98px) { 
  .pt-50{
    padding-top:30px;
  }
}
