.vision_sec{
    background: #161731;
    padding: 50px 6%;
}
.vision_img_sec{
    padding: 0 14%;
}
.vision_head{
    padding-bottom:15px;
}
.vision_txt_sec{
    padding-top: 70px;
    padding-right: 10%;
}
.color_white{
    color :#fff;
}